* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.wrapper {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: minmax(200px, 300px) minmax(500px, auto) minmax(
      200px,
      300px
    );
    grid-template-rows: 60px auto;
    background-color: #111;
    width: 100vw;
    height: calc(100vh - 55px);
}

.wrapper > div {
    color: #fff;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.search {
    background-color: #111;
    grid-column: 1 / 2;
    overflow: hidden;
}

.search input {
    border: none;
    outline: none;
    padding: 6px 8px;
    font-size: 1.2rem;
    font-family: inherit;
    background-color: #111;
    color: #fff;
    width: 75%;
    margin-left: 10px;
}

.header {
    background-color: #34213f;
    grid-column: 2 / 3;
    display: flex;
    align-items: stretch;
    overflow: hidden;
}

.wrapper .usersList {
    background-color: #111;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    overflow-y: auto;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.profileContainer {
    width: 100%;
    height: 70px;
    padding: 5px;
    text-align: left;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.profileContainer:focus,
.profileContainer.active {
    background-color: #34213f;
    outline: none;
}

.profileContainer:hover .settingsGear {
    visibility: visible;
}

.profileHolder {
    flex: 1;
    overflow: hidden;
}

.profileName {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 0 0;
}

.profileLastMsg {
    font-size: 1rem;
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #ccc;
}

.profileAvatar {
    flex: 0 0 70px;
}

.profileAvatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.profileOptions {
    flex: 0 0 30px;
    padding: 0 5px;
    text-align: center;
    position: relative;
}

.settingsGear {
    visibility: hidden;
    right: 4px;
    bottom: 0;
    padding: 0 4px 3px;
    z-index: 2;
}

.settingsGear i,
.pinBubble i {
    font-size: 1.4rem;
}

.lastDate {
    font-size: 0.8rem;
    padding-top: 5px;
}

.conversation {
    background-color: #111;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    flex-direction: column;
    overflow: hidden;
}

.usersProfile {
    background-color: #111;
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    overflow-y: auto;
}

.header .nav-left {
    list-style: none;
    flex: 0 0 60px;
}

header {
    flex: 1;
}

.header .nav-right {
    list-style: none;
    flex: 0 0 70px;
    padding-top: 10px;
}

.nav-left button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: inherit;
    cursor: pointer;
}

.header .nav-right a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 4px;
}

.header .nav-right img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

header h1 a {
    /*background: url(../images/cr_logo_top.png) no-repeat center center;*/
    background-size: 50px 50px;
    display: block;
    height: 100%;
    width: 100%;
    text-indent: -9999px;
}

.conversation .conversationContainer {
    width: 100%;
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;

}

.conversation .conversationContainer .firstPerson {
    font-size: 16px;
    float: left;
    max-width: 50%;
    white-space: pre-line;
    text-align: left;
}

.conversation .conversationContainer .secondPerson {
    font-size: 16px;
    float: right;
    max-width: 50%;
    white-space: pre-line;
    text-align: left;
}

.conversation .conversationContainer .messageTime {
    font-size: 8px;
    float: right;
    position: relative;
    transform: translateY(100%);
    margin-left: 10px;
}

.conversation .conversationContainer.welcome {
    align-items: flex-start;
    justify-content: flex-end;
}

.conversation .conversationContainer:not(.welcome) > :first-child {
    margin-top: auto !important;
}

.conversation .conversationContainer p {
    font-size: 1.6rem;
}

.sendMessageContainer {
    display: flex;
    flex: 0 0 60px;
    width: 100%;
    padding-top: 5px;
}

.sendMessageContainer .sendContentContainer {
    flex: 1;
}

.sendContentContainer textarea {
    width: 100%;
    height: 100%;
    background-color: rgba(52, 33, 63, 0.3);
    border: none;
    font-size: 1.4rem;
    font-family: inherit;
    font-weight: 300;
    color: #fff;
    padding: 14px;
    overflow-x: auto;
    resize: none;
    outline: 0;
}

.sendMessageContainer .sendButtonContainer {
    flex: 0 0 100px;
}

.sendButtonContainer button {
    width: 100%;
    height: 100%;
    background-color: #7a1c5a;
    border: none;
    color: #fff;
    cursor: pointer;
}

.sendButtonContainer button:hover {
    background-color: #c870aa;
}
